# default
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Dependency directories
client/node_modules/
server/node_modules/

# Environment variables
client/.env
client/.env.dev
client/.env.prod
client/.env.*
server/.env
server/.env.dev
server/.env.prod
server/.env.*

# IDE/Editor specific
.vscode/
.idea/
.DS_Store

# Next.js specific
client/.next
client/next-env.d.ts